@using MVCTemplate.Web.Infrastructure

<div class="navigation">
    <a href="@Url.Content("~/Employee/Reports")" class="@Html.IsActive(controllers: "Reports") btn btn-default"><i class="fa fa-users"></i> Reports</a>
    <a href="#" class="btn btn-default">Other</a>
</div>
