body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a:hover {
    text-decoration: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navigation {
    padding: 5px 0;
}

.nav-path {
    padding: 5px 10px;
    background-color: #ebebeb;
    border: 1px solid #cccccc;
    margin-bottom: 2px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.week-limiter td {
    color: red;
    border-bottom: 1px solid red;
}

table thead {
    background-color: red;
    color:white;
}

    table thead th {
        font-weight: normal;
    }